/**
@font-face {
  font-family: 'TrebuchetMS';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/TrebuchetMS.ttf') format('truetype');
}
**/

$max-border-radius: 10000px;
$major-font-family: 'Arial';

$grey-background: #fafafa; //#E8E8E8;
$grey-accent: #e6e6e6; //#E3E3E3;

$primary-text-color: #47525E;

$menu-primary-text-color: #3F4A57; //
$menu-secondary-text-color: #A1A1A1;

$toolbar-color: #414A56
