@import '_constants';

// Values required in calculations
$row-padding: 15px;
$content-padding: 10px;

.my_table {

  .column-headers {
    display: flex;
    flex-direction: row;

    // Lateral padding must match total offset on row field
    padding-left: $row-padding + $content-padding;
    padding-right: $row-padding + $content-padding;
    padding-bottom: 12px;

    font-family: $major-font-family;
    font-size: 18px;
    color: $primary-text-color;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-bottom: $content-padding;
    background-color: $grey-background;

    border-top-width: 2px;
    border-top-color: $grey-accent;
    border-top-style: solid;

    border-left-width: 2px;
    border-left-color: $grey-accent;
    border-left-style: solid;

    .row {
      display: flex;
      flex-direction: row;

      background-color: white;
      color: $primary-text-color;
      margin: $content-padding;
      margin-bottom: 0; // top margin of next row is enough. and container bottom padding
      padding: $row-padding;
      border-radius: $max-border-radius;
      font-family: $major-font-family;
      font-size: 18px;

      // Prevent growing or shrinking, and start out at 60px tall
      flex: 0 0 60px;

      // border-bottom: 2px solid #cdcdcd; // temporary
    }

    // Move this out, as its part of do
    .hint-row {
      background-color: #D9D9D9;
      color: #818181;
      font-family: $major-font-family;
      font-size: 24px;
      justify-content: center;
    }

    /* Drop bottom margin on last torrent */
    .row:last-of-type {
      margin-bottom: 0px;
    }
  }

  .field {
    display: flex;
    align-items: center;
    justify-content: center;

    //flex-grow: 0.05;
    flex: 0 0 80px;
    margin-left: 30px;
    width: 80px;
    text-align: center;

    .label {

      // thes emust be same
      padding-left: 13px;
      padding-right: 13px;

      // these must be same
      padding-top: 3px;
      padding-bottom: 3px;

      font-size: 16px;
      border-radius: $max-border-radius;


    }
  }

  /* First column, `name` column */
  .field:first-of-type {
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 10px;
    margin-left: 0px;
    /** font-size: 20px; **/

    min-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


}
